{%extends "doc/Base.html"%}
{%block content%}
<div class="container">
    <div class="row shadow-sm  p-3">
      <!-- load leftside bar  -->
       {%include "dashboard/leftside.html"%}
    <div class="col-4 shadow-sm text-center ">
        <h1 class="border border-4"style="width: 100%; overflow: hidden;">Category</h1>
       <h4>{{navitem_count}}</h4>
    </div>
    <div class="col-4 shadow-sm text-center ">
        <h1 class="border border-4 bg-white-40"style="width: 100%; overflow: hidden;">Post</h1>
        <h4>{{post_count}}</h4>
    </div>
    </div>
</div>
{%endblock%}